
{# Default #}

{% set defaults = {
  title:'',
  content:'',
  background:'',
} %}

{# -- Merge Default with Options -- #}
{% set options = options ? defaults|merge(options) : defaults %}

{% set transformLarge = {
  mode: 'crop',
  width: 2650,
  height: 1080,
  quality: 90,
  position: 'focalPoint'
} %}
{% set transformMedium = {
  mode: 'crop',
  width: 1024,
  height: 600,
  quality: 90,
  position: 'focalPoint'
} %}
{% set transformSmall = {
  mode: 'crop',
  width: 640,
  height: 900,
  quality: 90,
  position: 'focalPoint'
} %}
{% set image = options.background.one() %}
{% if image %}
    {% set headerBackgroundLarge = image.getUrl(transformLarge) %}
    {% set headerBackgroundMedium = image.getUrl(transformMedium) %}
    {% set headerBackgroundSmall = image.getUrl(transformSmall) %}
{% endif %}


<div class="c-header-content u-bg-cc u-bg-cover u-under-header lazyload"
{% if options.background is not empty %}
 data-bgset="{{headerBackgroundSmall}} [--small] | {{headerBackgroundMedium}} [--medium] | {{headerBackgroundLarge}}"
{% endif %}>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="c-header-content__content">
          <h1>
            {{options.title}}
          </h1>
          {{options.content}}
        </div>
      </div>
    </div>
  </div>
</div>


{% set options = null %}
